body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: #222;
  color: white;
  padding: 20px;
}

.container {
  background: #004f28;
  padding: 30px;
  margin: auto; /* Centrage horizontal */
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(255, 215, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Assurer le centrage interne */
}

section {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  display: block;
}

input,
button,
select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

select {
  background-color: #f0e68c; /* Or subtil */
  color: #222;
  font-weight: bold;
}

input {
  background: white;
  color: #222;
}

.btn {
  background-color: #d4af37; /* Or Rolex */
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background 0.3s ease-in-out;
}
input[readonly] {
  background-color: #444;
  color: #f0e68c;
  font-weight: bold;
  text-align: center;
  border: 2px solid #d4af37; /* Bordure dorée */
}

.btn:hover {
  background-color: #b8860b;
}

.resultats {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  padding: 15px;
  background: linear-gradient(135deg, #2c3e50, #1a1a1a);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(255, 215, 0, 0.3);
}

.resultats h2 {
  color: #f0e68c;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.output {
  padding: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  border: 2px solid #d4af37; /* Bordure dorée */
  text-align: center;
}

.output p {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  margin: 8px 0;
}

.output span {
  color: #f39c12;
  font-size: 24px;
  font-weight: bold;
}

small {
  font-size: 16px;
  color: #ccc;
}

.reset-btn {
  background-color: #ff3333; /* Rouge */
  color: white;
  margin-top: 10px;
}

.reset-btn:hover {
  background-color: #cc0000;
}

/* Media Queries */
@media (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 90%;
    max-width: 350px;
    padding: 20px;
  }

  label {
    font-size: 16px;
  }

  input,
  button,
  select {
    font-size: 14px;
    padding: 10px;
  }

  .resultats h2 {
    font-size: 20px;
  }

  .output p {
    font-size: 18px;
  }

  .output span {
    font-size: 20px;
  }
}
